{% macro medal_badge(mmr, size="md", show_label=false) %}
{%- set m = get_medal(mmr) -%}
{%- if size == "xl" -%}
  {%- set icon_cls = "medal-icon-xl" -%}
{%- elif size == "lg" -%}
  {%- set icon_cls = "medal-icon-lg" -%}
{%- else -%}
  {%- set icon_cls = "medal-icon" -%}
{%- endif -%}
<span class="medal" title="{{ m.label }}">
  <img src="{{ m.medal_url }}" alt="{{ m.label }}" class="{{ icon_cls }}">
  {%- if m.star_url %}<img src="{{ m.star_url }}" alt="{{ m.stars_label }}" class="medal-stars">{% endif -%}
  {%- if show_label %}<span class="medal-label">{{ m.label }}</span>{% endif -%}
</span>
{%- endmacro %}
